<a href="/posts/new">글 쓰러가기</a>
<%=link_to '글쓰러가기', new_post_path(@post) %>
<% @posts.each do |post| %>
<p>작성자:<%=post.user.email%></p>
  <p><%= post.id %>번째글</p>
  <p>제목:<%= post.title %></p>
  <p>내용:<%= post.content %></p>

  <%=link_to '글보기', post %>
  <a href="/posts/<%=post.id%>">글 보러가기</a>
  <hr />
<% end %>
<%= paginate @posts %>
